<style>
.remarks-list {
    list-style-type: none;
    padding-left: 0;
}

.remarks-list li {
    margin-bottom: 2px;
    padding-left: 15px;
    position: relative;
}

.russian-text {
    font-family: Arial, sans-serif;
}
</style>
<div class="page-break">
    <div class="row">
        <div class="col-xs-9" style="padding-right: 0px;">
            <table style="width: 100%;font-size:11px">
                <col style="width: 25%">
                <col style="width: 75%">
                <tr>
                    <td rowspan="5" style="padding: 2px !important;">
                        <img src="/files/Picture1.jpg" />
                    </td>
                    <td style="padding: 2px !important;">
                        <b>PT MAESTRO BALI INDO</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px !important;">
                        Address: Uluwatu Square Blok A/7, Jl Raya Uluwatu Jimbaran, Bali 80361
                        Indonesia
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px !important;">
                        Phone: +62-361-4463250
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px !important;">Email: finance@maestro-bali.com</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-3" style="padding-left: 0px;">
            <table style="width: 100%;font-size:11px">
                <col style="width: 10%">
                <col style="width: 90%">
                <tr>
                    <td style="padding: 2px !important;">
                        INVOICE
                    </td>
                    <td class="text-right" style="padding: 2px !important;">
                        <b>{{ doc.name }}</b>
                    </td>
                </tr>
                <tr>
                    <!-- <td style="padding: 2px !important;">
                        MI NO
                    </td>
                    <td class="text-right" style="padding: 2px !important;">
                        <b>MI : 18 AUG INB 24</b>
                    </td> -->
                    <td style="padding: 2px !important;">
                        Date
                    </td>
                    <td class="text-right" style="padding: 2px !important;">
                        <b>{{ frappe.utils.format_date(doc.transaction_date, "dd.MM.YYYY") if doc.transaction_date else "" }}</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px !important;">
                        Due date
                    </td>
                    <td class="text-right" style="padding: 2px !important;">
                        <b>{{ frappe.utils.format_date(doc.custom_due_date, "dd.MM.YYYY") if doc.custom_due_date else "" }}</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="text-center" style="font-size: 15px;">
        <b>
            {% set invoice = doc.name.split("SAL-ORD-")%}
            INVOICE CONFIRMATION #{{ invoice[1] }} 
            <!-- / MI : 18 AUG INB 24 / -->
        </b>
    </div>
    
    <table style="width: 100%;font-size:11px">
        <col style="width: 50%">
        <col style="width: 50%">
        <tr>
            <td>
                <b>Agent</b>
            </td>
            <td>
                <b>Tourists</b>
            </td>
        </tr>
        {% if doc.custom_tourist_detail %}
        {% for t in doc.custom_tourist_detail %}
            <tr>
                <td style="padding: 2px !important;">{{ (doc.customer or "") if loop.first else "&nbsp;" }}</td>
                <td style="padding: 2px !important;">{{ t.idx }}. {{ t.name1 }} {{ t.salutation }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td style="padding: 2px !important;">
                {{ doc.custom_email_pic or "" }}
            </td>
            <td style="padding: 2px !important;">
                TOTAL: {{ doc.custom_tourist_detail|len }} PAX
            </td>
        </tr>
        {% endif %}
        <tr style="padding: 20px !important;">
            <td>&nbsp;</td>
        </tr>
    </table>

    <table style="width: 100%;font-size:inherit;border: 1px solid #000">
        <col style="width: 40%">
        <col style="width: 15%">
        <col style="width: 7%">
        <col style="width: 13%">
        <col style="width: 10%">
        <col style="width: 15%">
        <tr>
            <td class="text-center" style="padding: 2px !important;">
                <b>Description</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Dates</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Nt</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Price</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Q-ty</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Cost {{ doc.currency }}</b>
            </td>
        </tr>
        {% set totals = {"inv": 0} %}
        {% for item in (doc.get("items", {"custom_is_print": 1}) or doc.items) %}
        {% set dd = frappe.utils.format_date(item.delivery_date, "dd.MM.YYYY") if item.delivery_date else "" %}
        <tr>
        {% if item.item_group == "Hotels" %}
            {% set check_in = frappe.utils.format_date(item.custom_check_in, "dd.MM.YYYY")%}
            {% set check_out = frappe.utils.format_date(item.custom_check_out, "dd.MM.YYYY")%}
            <td style="padding: 2px !important;">
                {{ item.description }} *{{ item.get_formatted("custom_quantity") }} <br>
                <div style="font-size: 11px;">
                    Rates used {{ check_in }} - {{ check_out }} / {{ item.get_formatted("custom_quantity") }} nts. * {{ frappe.utils.fmt_money(item.rate) }} {{ doc.currency }} per/room per/night
                </div>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                {{ check_in }} - {{ check_out }}
            </td>
            <td class="text-center" style="padding: 2px !important;">
                {{ item.get_formatted("custom_entities") }}
            </td>
            <td class="text-right" style="padding: 2px !important;">
                {{ frappe.utils.fmt_money(item.amount) }} {{ doc.currency }}
            </td>
            <td class="text-center" style="padding: 2px !important;">{{ 1 }}</td>
        {% else %}
            <td style="padding: 2px !important;">
                {{ item.item_group }} : {{ item.description }} 
            </td>
            <td class="text-center" style="padding: 2px !important;">
                {{ dd }}
            </td>
            <td class="text-center" style="padding: 2px !important;"></td>
            <td class="text-right" style="padding: 2px !important;">
                {{ frappe.utils.fmt_money(item.rate) }} {{ doc.currency }}
            </td>
            <td class="text-center" style="padding: 2px !important;">{{ item.get_formatted("qty") }}</td>
        {% endif %}
            <td class="text-right" style="padding: 2px !important;">{{ frappe.utils.fmt_money(item.amount) }}</td>
        </tr>
        {% if totals.update({ "inv": totals.inv + item.amount }) %}{% endif %}
        {% endfor %}
        {% for tax in doc.taxes%}
        <tr>
            <td style="padding: 2px !important;">
                Surcharge : {{ tax.description }} 
            </td>
            <td class="text-center" style="padding: 2px !important;">
                Any Time
            </td>
            <td class="text-center" style="padding: 2px !important;"></td>
            <td class="text-right" style="padding: 2px !important;">
                {{ frappe.utils.fmt_money(tax.tax_amount) }} {{ doc.currency }}
            </td>
            <td class="text-center" style="padding: 2px !important;">1</td>
            <td class="text-right" style="padding: 2px !important;">
                {{ frappe.utils.fmt_money(tax.tax_amount) }}
            </td>
            {% if totals.update({ "inv": totals.inv + tax.tax_amount }) %}{% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td style="padding: 0px !important;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding: 2px !important;" class="text-right" colspan="5">
                <b>Total, {{ doc.currency }}</b>
            </td>
            <td style="padding: 2px !important;" class="text-right" colspan="5">
                <b>{{ frappe.utils.fmt_money(totals.inv) }}</b>
            </td>
        </tr>
    </table>

    {% if doc.custom_bank_info %}
    {% set bank_details = frappe.db.get_value("Bank Details", doc.custom_bank_info, [
        "beneficiary_name", "beneficiary_bank", "bank_address", "account_number", "swift_code"
    ], as_dict=1) %}

    <table style="width: 100%;font-size:11px">
        <tr>
            <td style="padding: 2px !important;">
                Bank details: Beneficiary Name: {{ bank_details.beneficiary_name or "-" }} Beneficiary Bank : {{ bank_details.beneficiary_bank or "-" }}
            </td>
        </tr>
        <tr>
            <td style="padding: 2px !important;">
                Badung Ungasan Branch Bank Address : {{ bank_details.bank_address or "-" }}
            </td>
        </tr>
        <tr>
            <td style="padding: 2px !important;">
                Account Number : {{ bank_details.account_number or "-" }} Swift Code : {{ bank_details.swift_code or "-" }}
            </td>
        </tr>
    </table>
    {% endif %}
    <table style="width: 100%;font-size:11px">
        <col style="width: 60%">
        <col style="width: 25%">
        <col style="width: 15%">
        <tr>
            <td class="text-right" style="padding: 2px !important;vertical-align: middle !important">Issued by: </td>
            <td class="text-center" style="padding: 2px !important;vertical-align: middle !important">
                <img src="/files/Picture1.jpg" style="width: 50% !important;" />
            </td>
            <td class="text-right" style="padding: 2px !important;vertical-align: middle !important">Finance</td>
        </tr>
    </table>
    <p class="text-right" style="margin: 1px 0px">Payment by invoice should be made until 
        <strong>{{ frappe.utils.format_date(doc.custom_due_date, "dd.MM.YYYY") if doc.custom_due_date else "" }}</strong>
    </p>

    <div class="text-right" style="margin-top: 20px;">
        <div style="font-weight: bold;margin-bottom: 10px;">REMARKS:</div>
        <ul class="remarks-list" style="font-size: 10px;">
            <li>All costs related to the transaction have to be borne by you with no excuses</li>
            <li>If there is a shortage of payments from the bank, the underpayment must be paid back by the client / agent without any reason or we will bill the shortage to the customer directly</li>
            <li>We recommend adding bank charges amounting to USD 25 to avoid underpayment</li>
            <li class="russian-text">Все дополнительные расходы по переводу несёт плательщик</li>
            <li class="russian-text">В случае поступления неполной суммы согласно инвойсы, недостающая сумма должна быть оплачена клиентом/агентом или будет взиматься напрямую с туриста</li>
            <li class="russian-text">Мы рекомендуем добавить к сумме инвойса возможную дополнительную комиссию банка в размере USD 25 во избежание недоплаты</li>
        </ul>
    </div>
</div>