<div class="page-break">
    <table style="width: 100%;font-size:inherit">
        <col style="width: 12%">
        <col style="width: 12%">
        <col style="width: 13%">
        <col style="width: 13%">
        <col style="width: 12%">
        <col style="width: 13%">
        <col style="width: 20%">
        <tr>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>PREPAID VOUCHER</b>
            </td>
            <td class="text-right" colspan="4" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ doc.name }}</b>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px !important; background-color: #E7E6E6">
                Booking ref.
            </td>
            <td colspan="2" style="padding: 2px !important;">
                {{ doc.po_no or "-" }}
            </td>
            <td style="padding: 2px !important; background-color: #E7E6E6">
                Date of issue
            </td>
            <td class="text-center" style="padding: 2px !important;">
                {{ frappe.utils.format_date(doc.creation, "dd.MM.YYYY") if doc.creation else "" }}
            </td>
            <td style="padding: 2px !important; background-color: #E7E6E6">
                Agent
            </td>
            <td style="padding: 2px !important;">
                {{ doc.get_formatted("customer") }}
            </td>
        </tr>
        <tr>
            <td colspan="7" style="padding: 2px !important;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="7" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Clients</b>
            </td>
        </tr>
        {% for client in doc.custom_tourist_detail %}
        <tr>
            <td colspan="7" style="padding: 2px !important;">
                {{ client.idx }}. {{ client.name1 }} {{ client.salutation }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="7" style="padding: 2px !important;border-top: 1px solid #000;">&nbsp;</td>
        </tr>
        {% set hotels = doc.get("items", {"item_group": "Hotels", "custom_is_print": 1}) or doc.get("items", {"item_group": "Hotels"}) %}
        {% if hotels %}
        <tr>
            <td colspan="7" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Hotels</b>
            </td>
        </tr>
        {% for h in hotels %}
        <tr>
            <td colspan="6" style="padding: 2px !important;">
                {{ h.description }} *{{ h.get_formatted("custom_quantity") }}
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Supplier</b>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.db.get_value("Item", h.item_code, "custom_address")}}
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ doc.company }}
            </td>
        </tr>
        <tr>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>CHECK-IN</b>
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.utils.format_date(h.custom_check_in, "dd.MM.YYYY") if h.custom_check_in else ""  }}
            </td>
            <td class="text-center" colspan="2" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.utils.format_time(h.custom_check_in_time, "HH:mm") if h.custom_check_in_time else ""  }}
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>CHECK-OUT</b>
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.utils.format_date(h.custom_check_out, "dd.MM.YYYY") if h.custom_check_out else ""  }}
            </td>
            <td class="text-center" colspan="2" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.utils.format_time(h.custom_check_out_time, "HH:mm") if h.custom_check_out_time else ""  }}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px !important; background-color: #E7E6E6">
                <b>Room type</b>
            </td>
            <td colspan="2" style="padding: 2px !important; background-color: #E7E6E6">
                <b>Entities</b>
            </td>
            <td colspan="2" style="padding: 2px !important; background-color: #E7E6E6">
                <b>Accomodation</b>
            </td>
            <td style="padding: 2px !important; background-color: #E7E6E6">
                Board type
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px !important; border-bottom: 3px double #000;">
                {{ h.custom_room_type or "" }}
            </td>
            <td colspan="2" style="padding: 2px !important; border-bottom: 3px double #000;">
                {{ h.get_formatted("qty") }}
            </td>
            <td colspan="2" style="padding: 2px !important; border-bottom: 3px double #000;">
                {{ h.custom_accomodation or "" }}
            </td>
            <td style="padding: 2px !important; border-bottom: 3px double #000;">
                {{ h.custom_board_type }}
            </td>
        </tr>
        {% if h.custom_remarks %}
        <tr>
            <td colspan="7">
                <b>Remarks :</b> <br>
                {{ h.custom_remarks }}
            </td>
        </tr>
        {% endif %}

        {% endfor %}
        <tr>
            <td colspan="7" style="padding: 2px !important;">&nbsp;</td>
        </tr>
        {% endif %}
        {% set transfers = doc.get("items", {"item_group": "Transfer", "custom_is_print": 1}) or doc.get("items", {"item_group": "Transfer"}) %}
        {% if transfers %}
        <tr>
            <td colspan="7" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Transfers</b>
            </td>
        </tr>
        {% for t in transfers %}
        <tr>
            <td colspan="6" style="padding: 2px !important;">
                <b>{{ t.description }}</b>
            </td>
            <td class="text-center" style="padding: 2px !important;">
                <b>Supplier</b>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px !important;border-bottom: 1px solid #000;">
                &nbsp;
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ doc.company }}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>FROM</b>
            </td>
            <td colspan="2" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>TO</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Type</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Passengers</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Date</b>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px !important;border-bottom: 3px double #000;">
                {{ t.custom_from }}
            </td>
            <td colspan="2" style="padding: 2px !important;border-bottom: 3px double #000;">
                {{ t.custom_to }}
            </td>
            <td style="padding: 2px !important;border-bottom: 3px double #000;">
                {{ t.custom_type }}
            </td>
            <td style="padding: 2px !important;border-bottom: 3px double #000;">
                {{ t.get_formatted("custom_passengers") }} {{ t.custom_passenger_type }}
            </td>
            <td style="padding: 2px !important;border-bottom: 3px double #000;">
                {{ frappe.utils.format_date(t.delivery_date, "dd.MM.YYYY") if t.delivery_date else "" }}
            </td>
        </tr>
        
        {% if t.custom_remarks or t.custom_includes or t.custom_travel_info %}
        <tr>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Remarks</b>
            </td>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Included</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Travel info</b>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ t.custom_remarks or "" }}</b>
            </td>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ t.custom_includes or "" }}</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ t.custom_travel_info or "" }}</b>
            </td>
        </tr>
        {% endif %}
        
        {% endfor %}
        <tr>
            <td colspan="7" style="padding: 2px !important;">&nbsp;</td>
        </tr>
        {% endif %}
        {% set services = doc.get("items", {"item_group": "Services", "custom_is_print": 1}) or doc.get("items", {"item_group": "Services"})%}
        {% if services %}
        <tr>
            <td colspan="7" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>Services</b>
            </td>
        </tr>
        {% for s in services %}
        <tr>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Service</b>
            </td>
            <td colspan="2" class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ s.description }}
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Dates</b>
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ frappe.utils.format_date(s.delivery_date, "dd.MM.YYYY") if s.delivery_date else "" }}
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                Supplier
            </td>
            <td class="text-center" style="padding: 2px !important;border-bottom: 1px solid #000;">
                {{ doc.company }}
            </td>
        </tr>
        {% if s.custom_remarks or s.custom_includes or s.custom_travel_info %}
        <tr>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Remarks</b>
            </td>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Included</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;background-color: #E7E6E6">
                <b>Travel info</b>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ s.custom_remarks or "" }}</b>
            </td>
            <td colspan="3" style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ s.custom_includes or "" }}</b>
            </td>
            <td style="padding: 2px !important;border-bottom: 1px solid #000;">
                <b>{{ s.custom_travel_info or "" }}</b>
            </td>
        </tr>
        {% endif %}

        {% endfor %}
        <tr>
            <td colspan="7" style="padding: 2px !important;">&nbsp;</td>
        </tr>
        {% endif %}
        <tr>
            <td class="text-center" style="padding: 2px !important; background-color: #E7E6E6">
                Remarks
            </td>
            <td colspan="2" style="padding: 2px !important;">&nbsp;</td>
            <td colspan="2" class="text-center" style="padding: 2px !important; background-color: #E7E6E6">
                Issued by manager
            </td>
            <td style="padding: 2px !important;">&nbsp;</td>
            <td class="text-center" style="padding: 2px !important; background-color: #E7E6E6">
                Admin
            </td>
        </tr>
        <tr>
            <td colspan="7" style="padding: 8px !important;">&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center" colspan="2" style="padding: 2px !important; background-color: #E7E6E6">
                Inbound company
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px !important;">
                <img src="/files/Picture1.jpg" />
            </td>
        </tr>
        <tr>
            <td colspan="7" style="padding: 2px !important;">
                Maestro Bali DMC <br>
                Uluwatu Square Blok A/7, Jl Raya Uluwatu <br>
                Jimbaran, Bali 80361 Indonesia <br>
                Tel: +62-361-4463250 <br>
                bali@maestro-bali.com <br>
                www.maestro-bali.com <br>
            </td>
        </tr>
    </table>
</div>